version: "3.9"

services:
  app:
    build: .
    container_name: base-app
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DB_URL: jdbc:postgresql://db:5432/base_db
      DB_USERNAME: postgres
      DB_PASSWORD: 123456
    networks:
      - app-network

  db:
    image: postgres:15
    container_name: base-postgres
    environment:
      POSTGRES_DB: base_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  db_data:

networks:
  app_network:
